table {
  color:blue;
  border-radius: 10px;
  border: 2px solid red;
}

[href="#sus"] {
  color:orange
}

[colspan="3"] {
  color:red
}

#sus {
  font-weight: bold;
}

.banana {
  color:blue
}
.potato {
  color: red
}
